/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, html {
  min-height: 100%;
  width: 100%;
}

.clear::after, .clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #212121;
}

.preloader {
  transform-style: preserve-3d;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 1000;
  background: #212121;
  overflow: hidden;
  cursor: default !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-animation: swipePage 1s linear forwards;
          animation: swipePage 1s linear forwards;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}
.preloader__logo {
  margin-bottom: 20px;
  min-width: 320px;
  -webkit-animation: bluring 1.2s linear forwards;
          animation: bluring 1.2s linear forwards;
}
.preloader_-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.preloader__load {
  min-width: 300px;
  height: 2px;
  background: rgb(140, 140, 141);
  position: relative;
}
.preloader__load::before {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  height: 2px;
  opacity: 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation: loading 1.5s linear forwards;
          animation: loading 1.5s linear forwards;
}

@-webkit-keyframes bluring {
  from {
    transform: scale(0.7);
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes bluring {
  from {
    transform: scale(0.7);
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
@-webkit-keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes swipePage {
  from {
    left: 0%;
  }
  to {
    left: -110%;
  }
}
@keyframes swipePage {
  from {
    left: 0%;
  }
  to {
    left: -110%;
  }
}
#pointer-dot {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 3px solid #cecece;
  position: fixed;
  border-radius: 4px;
  z-index: 101;
  pointer-events: none;
  transition: border-color 0.5s;
}

#pointer-ring {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 15px;
  border: 1px solid #cecece;
  position: fixed;
  border-radius: 100px;
  z-index: 102;
  pointer-events: none;
}

html {
  cursor: none !important;
}

a {
  cursor: none !important;
}

.wrapper {
  width: 100%;
  position: relative;
  transition: 1s all ease-in;
}
.wrapper__active {
  position: fixed;
}
.wrapper__active::before {
  content: "";
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 20;
  min-width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: none;
  transition: 0.3s all linear;
}
.header__message-block {
  position: fixed;
  top: 80%;
  right: 10%;
}
.header::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 70px;
  background: #212121;
  top: -80px;
  left: 0%;
  transition: 0.3s all linear;
}
.header__scroll {
  width: 100%;
  transition: 0.3s all linear;
}
.header__scroll::before {
  content: "";
  top: 0%;
}
.header__container {
  width: 100%;
  padding: 0px 20px;
}
.header__active::before {
  content: "1";
}

.logo__block {
  transition: 1s ease;
}
.logo__block:hover {
  transform: scale(1.02);
}
.logo__block--adaptive {
  margin-bottom: 25%;
  display: block;
}
.logo__navigation {
  max-width: 100px;
}
.logo__navigation--adaptive {
  width: 150px;
  max-width: 150px;
}
.logo__link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.logo__navigation {
  max-width: 125px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 70px;
  top: 0;
  left: 0%;
  padding: 0px 20px;
  position: fixed;
}
.navigation__main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: fixed;
  top: 0px;
  right: -100%;
  margin-left: 0;
  flex-direction: column;
  max-width: 330px;
  padding: 60px 40px 25px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
  transition: 1s right ease;
  overflow: auto;
}
.navigation__main--active {
  right: 0%;
}
.navigation__title-special {
  font-size: 20px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 15px;
}
.navigation__social-link {
  max-width: 20px;
  max-height: 20px;
  transition: 1s ease;
  opacity: 80%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navigation__social-link:hover {
  opacity: 100%;
  transform: scale(1.2);
}
.navigation__social-link:nth-child(1) {
  margin-right: 25px;
}
.navigation__social-link:nth-child(2) {
  margin-right: 25px;
}
.navigation__social-link:nth-child(3) {
  margin-right: 15px;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.navigation__elem {
  margin-bottom: 20px;
}
.navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: 1s all ease;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-bottom: 15px;
}
.navigation__link:hover {
  color: rgba(255, 255, 255, 0.4);
}
.navigation__contancts {
  display: block;
}
.navigation__contancts-phone {
  width: 100%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}
.navigation__contancts-socials {
  display: flex;
  justify-content: space-between;
}
.navigation__contancts-socials-link {
  opacity: 60%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all ease 0.7s;
}
.navigation__contancts-socials-link:hover {
  opacity: 100%;
  transform: scale(1.2);
}
.navigation__contancts-socials-img {
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
}
.navigation__phone {
  display: none;
}
.navigation__phone-block {
  width: 70%;
  padding: 0;
  margin-right: 1%;
}
.navigation__phone-link {
  padding-bottom: 0px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
  opacity: 50%;
  transition: 1s all ease;
}
.navigation__phone-link:hover {
  opacity: 100%;
}
.navigation__phone-link:first-child {
  margin-right: 0;
}
.navigation__phone-img {
  max-width: 14px;
  max-height: 14px;
}
.navigation__phone-num {
  font-size: 16px;
}

.menu-icon {
  z-index: 5;
  position: relative;
  min-width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: 1s ease;
}
.menu-icon:hover {
  transform: scale(1.2);
}
.menu-icon::before, .menu-icon::after {
  content: "";
}
.menu-icon::before, .menu-icon::after, .menu-icon__burger {
  left: 0;
  width: 100%;
  height: 3%;
  position: absolute;
  transition: 0.5s all ease;
  background: #fff;
}
.menu-icon::before {
  top: 20%;
}
.menu-icon::after {
  bottom: 20%;
}
.menu-icon__burger {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.menu-icon--active span {
  transform: scale(0) translate(0px, -50%);
}
.menu-icon--active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.menu-icon--active::after {
  top: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.menu-icon {
  z-index: 5;
  position: relative;
  min-width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu-icon::before, .menu-icon::after {
  content: "";
}
.menu-icon::before, .menu-icon::after, .menu-icon__burger {
  left: 0;
  width: 100%;
  height: 3%;
  position: absolute;
  transition: 0.5s all ease;
  background: #fff;
}
.menu-icon::before {
  top: 20%;
}
.menu-icon::after {
  bottom: 20%;
}
.menu-icon__burger {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.menu-icon--active span {
  transform: scale(0) translate(0px, -50%);
}
.menu-icon--active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.menu-icon--active::after {
  top: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

@media screen and (min-width: 768px) and (max-width: 1064px) {
  .navigation__list {
    min-width: 61%;
  }
}
@media screen and (min-width: 210px) and (max-width: 1023.99px) {
  #pointer-dot {
    border: none;
  }
  #pointer-ring {
    border: none;
  }
  body._lock {
    overflow: hidden;
  }
  .header::before {
    content: "";
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%);
  }
  .navigation {
    padding: 0px 20px;
    position: fixed;
  }
  .navigation__main {
    max-width: 280px;
    padding: 60px 25px 25px;
    background: rgba(0, 0, 0, 0.9);
  }
  .navigation__main--active {
    right: 0%;
  }
  .navigation__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation__link {
    margin-right: 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
  }
  .navigation__contancts {
    display: block;
  }
  .navigation__contancts-phone {
    width: 100%;
    margin-bottom: 20%;
  }
  .navigation__contancts-socials {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navigation__contancts-socials-img {
    max-width: 20px;
    max-height: 20px;
  }
  .navigation__phone {
    display: none;
  }
  .navigation__phone-block {
    width: 70%;
    padding: 0;
    margin-right: 1%;
  }
  .navigation__phone-link {
    padding-bottom: 0px;
    font-weight: 700;
  }
  .navigation__phone-link:first-child {
    margin-right: 0;
  }
  .navigation__phone-img {
    max-width: 14px;
    max-height: 14px;
  }
  .navigation__phone-num {
    font-size: 16px;
  }
  .logo__block {
    margin-right: 2%;
    margin-left: 1%;
  }
  .logo__block--adaptive {
    margin-bottom: 25%;
    display: block;
  }
  .logo__navigation {
    max-width: 100px;
  }
  .logo__navigation--adaptive {
    width: 150px;
    max-width: 150px;
  }
}
@media screen and (min-width: 210px) and (max-width: 280.99px) {
  .preloader__logo {
    min-width: 200px;
    max-width: 200px;
  }
  .preloader__load {
    min-width: 180px;
    max-width: 180px;
  }
}
.main {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 5;
}
.main__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__block {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__text {
  color: #fff;
}
.main__info {
  transform: scale(1);
  transition: 1s ease;
}
.main__info-link {
  text-decoration: none;
}
.main__info:hover {
  transform: scale(1.02);
  text-shadow: 2px 1px 12px rgba(0, 0, 0, 0.7);
}
.main__title {
  color: #ffffff;
  line-height: 1.55;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main__title--small {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.7px;
}
.main__title--big {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 115%;
}
.main__title--medium {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.main__counter {
  width: 100%;
  margin-top: 4.5%;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main__counter-line {
  height: 1px;
  background: #fff;
}
.main__counter-line--sm {
  width: 30px;
}
.main__counter-line--lg {
  width: 400px;
  margin-right: 1.5%;
}
.main__counter-title {
  width: 160px;
  text-align: center;
}
.main__counter-text {
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
}
.main__counter-num span {
  font-size: 14px;
}
.main__buttons {
  position: absolute;
  top: 85%;
  left: calc(50% - 130px);
  z-index: 1;
  display: flex;
  justify-content: center;
}
.main__butnav {
  margin-top: 4.5%;
  display: flex;
  justify-content: center;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  min-width: 260px;
  max-height: 50px;
  min-height: 40px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 600;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition-delay: 200ms;
  transition: all 0.5s ease-in;
}
.btn span {
  z-index: 10;
}
.btn--white {
  color: #212121;
  background: #fff;
  margin-right: 4.5%;
}
.btn--white::before {
  content: "";
  position: absolute;
  max-width: 260px;
  width: 0;
  height: 100%;
  background: #212121;
  top: 0%;
  left: 0%;
  display: block;
  z-index: 9;
  transition: all 0.2s ease-in;
}
.btn--white:hover {
  color: #ffffff;
  transform: scale(1.02);
}
.btn--white:hover::before {
  width: 100%;
}
.btn-nav {
  margin-top: 30px;
  max-width: 210px;
  min-width: 210px;
  max-height: 40px;
  margin-right: 0%;
}
.btn-nav span {
  font-size: 15px;
}

.swiper {
  position: relative;
  max-height: 100vh;
}
.swiper-pagination {
  bottom: 0;
}
.swiper-pagination-bullet {
  margin: 15px !important;
  width: 30px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: 1s all ease;
  border-radius: 0%;
}
.swiper-pagination-bullet-active {
  width: 45px;
  height: 2px;
  transform: rotate(-45deg);
}

.arrow {
  position: absolute;
  top: 90%;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.8s all ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.arrow:hover {
  transform: scale(1.4);
  color: #fff;
}
.arrow-left {
  left: 2%;
}
.arrow-left::after {
  content: "prev";
  display: block;
  font-size: 18px;
}
.arrow-right {
  left: 5%;
}
.arrow-right::after {
  content: "next";
  display: block;
  font-size: 18px;
}

.slide-box {
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
}

@media screen and (min-width: 279.99px) and (max-width: 400px) {
  .main__counter-line--sm {
    width: 11.5%;
  }
  .main__counter-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__counter-text {
    font-size: 11px;
  }
}
@media screen and (min-width: 400px) and (max-width: 424.99px) {
  .main__counter-title {
    width: 100%;
  }
  .main__counter-line--sm {
    width: 11.5%;
  }
}
@media screen and (min-width: 279.99px) and (max-width: 767.99px) {
  .main__counter-num {
    margin-left: 3%;
  }
  .main__counter-line--sm {
    width: 11.5%;
  }
  .change-bg-1 {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%), url(../images/main/slider/mobile/brutal-mob-min.jpg) no-repeat center center !important;
    background-size: cover !important;
  }
  .change-bg-2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%), url(../images/main/slider/mobile/fabrica-mob-min.jpg) no-repeat center center !important;
    background-size: cover !important;
  }
  .change-bg-3 {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%), url(../images/main/slider/mobile/bigShalet-mob-min.jpg) no-repeat center center !important;
    background-size: cover !important;
  }
  .change-bg-4 {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%), url(../images/main/slider/mobile/kitchen-mob-min.jpg) no-repeat center center !important;
    background-size: cover !important;
  }
  .change-bg-5 {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%), url(../images/main/slider/mobile/elegant-mob-min.jpg) no-repeat center center !important;
    background-size: cover !important;
  }
}
@media screen and (min-width: 425px) and (max-width: 767.99px) {
  .main__counter-title {
    width: 100%;
  }
}
@media screen and (min-width: 279.99px) and (max-width: 330px) {
  .main__counter-title {
    width: 140%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.99px) {
  .main__counter-title {
    width: 30%;
  }
}
@media screen and (min-width: 210px) and (max-width: 1023.99px) {
  .main__container {
    padding: 0 10px;
  }
  .main__info {
    min-width: 50%;
    max-width: 89%;
    display: flex;
    flex-direction: column;
  }
  .main__title--small {
    margin-bottom: 6%;
    font-size: 13px;
  }
  .main__title--big {
    margin-bottom: 6%;
    font-size: 32px;
  }
  .main__title--medium {
    margin-bottom: 11%;
    font-size: 16px;
  }
  .main__buttons {
    flex-direction: column;
  }
  .arrow {
    display: none;
  }
  .btn--white {
    margin-bottom: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.99px) {
  .main__title--small {
    margin-bottom: 6%;
    font-size: 22px;
  }
  .main__title--big {
    margin-bottom: 6%;
    font-size: 50px;
  }
  .main__title--medium {
    margin-bottom: 11%;
    font-size: 28px;
  }
}
.about {
  width: 100%;
  background: #212121;
}
.about__container {
  width: 100%;
  padding: 0px 20px;
}
.about__block {
  position: relative;
  padding: 60px 0px;
}
.about__title {
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}
.about__info {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__sub-info {
  max-width: 670px;
}
.about__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  text-shadow: -1px -1px 11px rgba(0, 0, 0, 0.71);
}
.about__video {
  min-width: 860px;
  min-height: 460px;
}
.about__youtube {
  box-shadow: -8px 6px 78px -16px rgba(0, 0, 0, 0.79);
  filter: grayscale(1);
  transition: 0.4s all ease-in-out;
}
.about__youtube:hover {
  box-shadow: -8px 6px 31px -16px rgba(0, 0, 0, 0.79);
  filter: grayscale(0);
}
.about__bg {
  position: absolute;
  top: 25%;
  left: 0%;
  z-index: 0;
}
.about__bg h4 {
  font-weight: 700;
  font-size: 300px;
  line-height: 366px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about__check {
  display: flex;
  flex-direction: column;
  width: 170px;
  position: absolute;
  top: 85%;
  left: 44%;
  transform: rotate(15deg);
  -webkit-animation: checkIt 2s infinite;
          animation: checkIt 2s infinite;
}
.about__check span {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-animation: checkIttext 2s infinite;
          animation: checkIttext 2s infinite;
}
.about__check img {
  max-width: 100px;
  max-height: 50px;
  margin-left: 70px;
  margin-top: 15px;
}

@-webkit-keyframes checkIt {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes checkIt {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@-webkit-keyframes checkIttext {
  0% {
    color: #fff;
  }
  50% {
    color: #c4302b;
  }
  100% {
    color: #fff;
  }
}
@keyframes checkIttext {
  0% {
    color: #fff;
  }
  50% {
    color: #c4302b;
  }
  100% {
    color: #fff;
  }
}
@media screen and (min-width: 210px) and (max-width: 766.99px) {
  .about__container {
    padding: 0px 10px;
  }
  .about__block {
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__title {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .about__sub-info {
    max-width: 425px;
  }
  .about__text {
    font-size: 18px;
    text-align: center;
  }
  .about__info {
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    align-items: center;
  }
  .about__sub-info {
    margin-bottom: 50px;
  }
  .about__youtube {
    filter: grayscale(0);
  }
  .about__video {
    min-width: 280px;
    min-height: 190px;
  }
  .about__bg {
    display: none;
  }
  .about__check {
    left: 15%;
  }
}
@media screen and (min-width: 767.99px) and (max-width: 1023.99px) {
  .about__bg h4 {
    font-size: 100px;
  }
  .about__title {
    font-size: 42px;
  }
  .about__sub-info {
    max-width: 330px;
  }
  .about__text {
    font-size: 18px;
  }
  .about__video {
    min-width: 350px;
    min-height: 190px;
  }
  .about__check {
    top: 80%;
    left: 35%;
  }
  .about__check span {
    font-size: 14px;
  }
}
@media screen and (min-width: 1023.99px) and (max-width: 1198.99px) {
  .about__title {
    font-size: 50px;
  }
  .about__text {
    font-size: 24px;
  }
  .about__video {
    min-width: 490px;
    min-height: 275px;
  }
  .about__bg h4 {
    font-size: 150px;
  }
  .about__sub-info {
    max-width: 430px;
  }
  .about__check {
    top: 79%;
    left: 36%;
  }
}
@media screen and (min-width: 1199.99px) and (max-width: 1919px) {
  .about__title {
    font-size: 50px;
  }
  .about__text {
    font-size: 24px;
  }
  .about__bg h4 {
    font-size: 200px;
  }
  .about__video {
    min-width: 700px;
    min-height: 350px;
  }
  .about__sub-info {
    max-width: 470px;
  }
}
@media screen and (min-width: 950px) and (max-width: 1023.99px) {
  .about__video {
    min-width: 450px;
  }
}
@media screen and (min-width: 1099.99px) and (max-width: 1198.99px) {
  .about__check {
    top: 80%;
    left: 42%;
  }
}
@media screen and (min-width: 1199.99px) and (max-width: 1299.99px) {
  .about__check {
    top: 82%;
    left: 26%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1437.99px) {
  .about__check {
    top: 82%;
    left: 33%;
  }
}
@media screen and (min-width: 1438.99px) and (max-width: 1918.99px) {
  .about__check {
    top: 82%;
    left: 39%;
  }
}
@media screen and (min-width: 2100px) and (max-width: 2399.99px) {
  .about__check {
    left: 49%;
  }
}
@media screen and (min-width: 2400px) and (max-width: 2685.99px) {
  .about__check {
    left: 56%;
  }
}/*# sourceMappingURL=styles.css.map */