@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, html {
  min-height: 100%;
  width: 100%;
}

.clear::after, .clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #212121;
}

.preloader {
  transform-style: preserve-3d;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 1000;
  background: #212121;
  overflow: hidden;
  cursor: default !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-animation: swipePage 1s linear forwards;
          animation: swipePage 1s linear forwards;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}
.preloader__logo {
  margin-bottom: 20px;
  max-width: 220px;
  -webkit-animation: bluring 1.2s linear forwards;
          animation: bluring 1.2s linear forwards;
}
.preloader__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.preloader__load {
  min-width: 300px;
  height: 2px;
  background: rgb(140, 140, 141);
  position: relative;
}
.preloader__load::before {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  height: 2px;
  opacity: 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation: loading 1.5s linear forwards;
          animation: loading 1.5s linear forwards;
}

@-webkit-keyframes bluring {
  from {
    transform: scale(0.7);
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes bluring {
  from {
    transform: scale(0.7);
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
@-webkit-keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes swipePage {
  from {
    left: 0%;
  }
  to {
    left: -110%;
  }
}
@keyframes swipePage {
  from {
    left: 0%;
  }
  to {
    left: -110%;
  }
}
#pointer-dot {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 3px solid #cecece;
  position: fixed;
  border-radius: 4px;
  z-index: 101;
  pointer-events: none;
  transition: border-color 0.5s;
}

#pointer-ring {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 15px;
  border: 1px solid #cecece;
  position: fixed;
  border-radius: 100px;
  z-index: 102;
  pointer-events: none;
}

html {
  cursor: none !important;
}

a {
  cursor: none !important;
}

.wrapper {
  width: 100%;
  position: relative;
  transition: 1s all ease-in;
}
.wrapper__active {
  position: fixed;
}
.wrapper__active::before {
  content: "";
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 20;
  min-width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.social-pl {
  position: fixed;
  bottom: 5%;
  right: 2.3%;
  width: 60px;
  z-index: 21;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  transition: all 0.5s ease;
}
.social-pl__hide {
  transform: scale(0, 0);
}
@media screen and (min-width: 290.98px) and (max-width: 499.99px) {
  .social-pl {
    bottom: 4%;
    gap: 0px;
  }
}

.social-pl__btn {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: 1s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.social-pl__btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 27px;
  transition: 0.5s all ease;
  background: url(../images/socials-plagin/і.svg) no-repeat center center;
}
.social-pl__btn--active::before {
  content: "";
  background: url(../images/socials-plagin/cross.svg) no-repeat center center;
}
.social-pl__btn:hover {
  box-shadow: 1px 1px 25px 5px rgba(209, 209, 209, 0.59);
}
@media screen and (min-width: 290.98px) and (max-width: 499.99px) {
  .social-pl__btn {
    transform: scale(0.8);
  }
}

.social-pl__list {
  width: 60px;
  border-radius: 50px;
  background: #fff;
  z-index: -1;
  display: flex;
  justify-content: center;
  padding: 22px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s all ease;
  transform: scale(0);
}
.social-pl__list--active {
  bottom: 100%;
  transform: scale(1);
}
@media screen and (min-width: 290.98px) and (max-width: 499.99px) {
  .social-pl__list--active {
    transform: scale(0.8);
  }
}

.social-pl__elem {
  margin-bottom: 22px;
}
.social-pl__elem:last-child {
  margin-bottom: 0px;
}

.social-pl__link {
  display: block;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
  transition: 0.2s all ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.social-pl__link:hover {
  transform: scale(1.1);
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: none;
  transition: 0.3s all linear;
}
.header__message-block {
  position: fixed;
  top: 80%;
  right: 10%;
}
.header::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 70px;
  background: #212121;
  top: -80px;
  left: 0%;
  transition: 0.3s all linear;
}
.header__scroll {
  width: 100%;
  transition: 0.3s all linear;
}
.header__scroll::before {
  content: "";
  top: 0%;
}
.header__container {
  width: 100%;
  padding: 0px 20px;
}
.header__active::before {
  content: "1";
}

.logo__block {
  transition: 1s ease;
}
.logo__block:hover {
  transform: scale(1.02);
}
.logo__block--adaptive {
  margin-bottom: 25%;
  display: block;
}
.logo__navigation {
  width: 115px;
  height: 36px;
}
.logo__navigation--adaptive {
  width: 150px;
  max-width: 150px;
}
.logo__link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.logo__navigation {
  max-width: 125px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 70px;
  top: 0;
  left: 0%;
  padding: 0px 45px;
  position: fixed;
}
.navigation__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0px;
  right: -100%;
  margin-left: 0;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 100px 40px 25px;
  height: 100vh;
  background: #212121;
  z-index: 4;
  transition: 1s right ease;
  overflow: auto;
}
@media screen and (min-width: 767.98px) and (max-width: 1023.99px) {
  .navigation__main {
    max-width: 330px;
  }
}
@media screen and (min-width: 210px) and (max-width: 767.97px) {
  .navigation__main {
    max-width: 290px;
  }
}
.navigation__main--active {
  right: 0%;
}
.navigation__btns {
  display: flex;
  align-items: center;
}
.navigation__sub-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 75px;
}
.navigation__consulatation-btn {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.5s ease-in;
  margin-right: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navigation__consulatation-btn:hover {
  background: #fff;
  color: #212121;
}
.navigation__title-special {
  font-size: 20px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 15px;
}
.navigation__social-link {
  max-width: 20px;
  max-height: 20px;
  transition: 1s ease;
  opacity: 80%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navigation__social-link:hover {
  opacity: 100%;
  transform: scale(1.2);
}
.navigation__social-link:nth-child(1) {
  margin-right: 25px;
}
.navigation__social-link:nth-child(2) {
  margin-right: 25px;
}
.navigation__social-link:nth-child(3) {
  margin-right: 15px;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.navigation__elem {
  margin-bottom: 20px;
}
.navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: 1s all ease;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-bottom: 15px;
}
.navigation__contancts {
  display: block;
}
.navigation__contancts-phone {
  width: 100%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}
.navigation__contancts-socials {
  display: flex;
  justify-content: space-between;
}
.navigation__contancts-socials-link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
}
.navigation__contancts-socials-link:hover {
  transform: scale(1.2);
}
.navigation__contancts-socials-img {
  max-width: 36px;
  max-height: 25px;
}
.navigation__phone {
  display: none;
}
.navigation__phone-block {
  width: 70%;
  padding: 0;
  margin-right: 1%;
}
.navigation__phone-link {
  padding-bottom: 0px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  transition: 1s all ease;
}
.navigation__phone-link:hover {
  transform: scale(1.05);
}
.navigation__phone-link:first-child {
  margin-right: 0;
}
.navigation__phone-icon {
  margin-right: 30px;
}
@media screen and (min-width: 767.98px) and (max-width: 1023.99px) {
  .navigation__phone-icon {
    margin-right: 30px;
  }
}
@media screen and (min-width: 210px) and (max-width: 767.97px) {
  .navigation__phone-icon {
    width: 22px;
    margin-right: 15px;
  }
}
.navigation__phone-img {
  max-width: 14px;
  max-height: 14px;
}
.navigation__phone-num {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
}
@media screen and (min-width: 767.98px) and (max-width: 1023.99px) {
  .navigation__phone-num {
    font-size: 17px;
    line-height: 21px;
  }
}
@media screen and (min-width: 210px) and (max-width: 767.97px) {
  .navigation__phone-num {
    font-size: 14px;
    line-height: 17px;
  }
}

.langs__btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #fff;
  opacity: 0.65;
  transform: scale(1);
  transition: 0.5s ease-in;
}
.langs__btn--active {
  opacity: 1;
}
.langs__btn:first-child {
  margin-right: 20px;
}
.langs__btn:hover {
  opacity: 0.85;
  transform: scale(1.2);
}

.menu-icon {
  z-index: 5;
  position: relative;
  min-width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: 1s ease;
}
.menu-icon:hover {
  transform: scale(1.2);
}
.menu-icon::before, .menu-icon::after {
  content: "";
}
.menu-icon::before, .menu-icon::after, .menu-icon__burger {
  left: 0;
  width: 100%;
  height: 3%;
  position: absolute;
  transition: 0.5s all ease;
  background: #fff;
}
.menu-icon::before {
  top: 20%;
}
.menu-icon::after {
  bottom: 20%;
}
.menu-icon__burger {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.menu-icon--active span {
  transform: scale(0) translate(0px, -50%);
}
.menu-icon--active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.menu-icon--active::after {
  top: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.menu-icon {
  z-index: 5;
  position: relative;
  min-width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu-icon::before, .menu-icon::after {
  content: "";
}
.menu-icon::before, .menu-icon::after, .menu-icon__burger {
  left: 0;
  width: 100%;
  height: 3%;
  position: absolute;
  transition: 0.5s all ease;
  background: #fff;
}
.menu-icon::before {
  top: 20%;
}
.menu-icon::after {
  bottom: 20%;
}
.menu-icon__burger {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.menu-icon--active span {
  transform: scale(0) translate(0px, -50%);
}
.menu-icon--active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.menu-icon--active::after {
  top: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

@media screen and (min-width: 768px) and (max-width: 1064px) {
  .navigation__list {
    min-width: 61%;
  }
}
@media screen and (min-width: 210px) and (max-width: 554.99px) {
  .navigation__sub-btns {
    display: none;
  }
}
@media screen and (min-width: 210px) and (max-width: 1023.99px) {
  #pointer-dot {
    border: none;
  }
  #pointer-ring {
    border: none;
  }
  body._lock {
    overflow: hidden;
  }
  .header::before {
    content: "";
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%);
  }
  .navigation {
    padding: 0px 20px;
    position: fixed;
  }
  .navigation__main {
    max-width: 280px;
    padding: 60px 22px 22px;
    background: #212121;
  }
  .navigation__main--active {
    right: 0%;
  }
  .navigation__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation__link {
    margin-right: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .navigation__contancts {
    display: block;
  }
  .navigation__contancts-phone {
    width: 100%;
    margin-bottom: 20%;
  }
  .navigation__contancts-socials {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navigation__contancts-socials-img {
    max-width: 20px;
    max-height: 20px;
  }
  .navigation__phone {
    display: none;
  }
  .navigation__phone-block {
    width: 70%;
    padding: 0;
    margin-right: 1%;
  }
  .navigation__phone-link {
    padding-bottom: 0px;
    font-weight: 700;
  }
  .navigation__phone-link:first-child {
    margin-right: 0;
  }
  .navigation__phone-img {
    max-width: 14px;
    max-height: 14px;
  }
  .logo__block {
    margin-right: 2%;
    margin-left: 1%;
  }
  .logo__block--adaptive {
    margin-bottom: 25%;
    display: block;
  }
  .logo__navigation {
    width: 70px;
    height: 23px;
  }
  .logo__navigation--adaptive {
    width: 150px;
    max-width: 150px;
  }
}
@media screen and (min-width: 210px) and (max-width: 280.99px) {
  .preloader__logo {
    min-width: 200px;
    max-width: 200px;
  }
  .preloader__load {
    min-width: 180px;
    max-width: 180px;
  }
}
.main {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 5;
}
.main__description {
  position: absolute;
  bottom: 0%;
  width: 37.5%;
  background: rgba(210, 210, 210, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 40px 45px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
@media screen and (min-width: 767.98px) and (max-width: 1023.99px) {
  .main__description {
    width: 75%;
    padding: 10px 30px;
  }
}
@media screen and (min-width: 210px) and (max-width: 767.97px) {
  .main__description {
    width: 100%;
    padding: 20px 10px;
  }
}
.main__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
  max-width: 70%;
}
@media screen and (min-width: 767.98px) and (max-width: 1023.99px) {
  .main__title {
    font-size: 23px;
    line-height: 28px;
  }
}
@media screen and (min-width: 210px) and (max-width: 767.97px) {
  .main__title {
    font-size: 16px;
    line-height: 20px;
  }
}
.main__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 5px;
}
@media screen and (min-width: 767.98px) and (max-width: 1023.99px) {
  .main__text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (min-width: 210px) and (max-width: 767.97px) {
  .main__text {
    font-size: 14px;
    line-height: 17px;
  }
}
.main__btn {
  display: flex;
  align-items: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  transition: 0.5s;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.main__btn span {
  margin-right: 25px;
}
.main__btn::after {
  content: "";
  display: block;
  width: 65px;
  height: 18px;
  background: url(../images/main/sticks/link-arrow.svg) no-repeat center center;
}
.main__btn:hover {
  transform: scale(1.01);
}
@media screen and (min-width: 767.98px) and (max-width: 1023.99px) {
  .main__btn {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (min-width: 210px) and (max-width: 767.97px) {
  .main__btn {
    font-size: 12px;
    line-height: 15px;
  }
  .main__btn::after {
    width: 35px;
    background: url(../images/main/sticks/link-arrow.svg) no-repeat right center;
  }
}
.main__arrows {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 15%;
  right: 0%;
}
@media screen and (min-width: 210px) and (max-width: 767.97px) {
  .main__arrows {
    width: 110px;
    height: 40px;
    top: 7%;
  }
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  min-width: 260px;
  max-height: 50px;
  min-height: 40px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 600;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition-delay: 200ms;
  transition: all 0.5s ease-in;
}
.btn span {
  z-index: 10;
}
.btn--white {
  color: #212121;
  background: #fff;
  margin-right: 4.5%;
}
.btn--white::before {
  content: "";
  position: absolute;
  max-width: 260px;
  width: 0;
  height: 100%;
  background: #212121;
  top: 0%;
  left: 0%;
  display: block;
  z-index: 9;
  transition: all 0.2s ease-in;
}
.btn--white:hover {
  color: #ffffff;
  transform: scale(1.02);
}
.btn--white:hover::before {
  width: 100%;
}

.swiper {
  position: relative;
  max-height: 100vh;
}
.swiper-pagination {
  bottom: 0;
}
.swiper-pagination-bullet {
  margin: 15px !important;
  width: 30px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: 1s all ease;
  border-radius: 0%;
}
.swiper-pagination-bullet-active {
  width: 45px;
  height: 2px;
  transform: rotate(-45deg);
}

.arrow {
  position: absolute;
  width: 50%;
  height: 40px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s all ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: rgba(210, 210, 210, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.arrow::before {
  content: "";
  width: 68px;
  height: 40px;
  background: url(../images/main/sticks/arrow-new.svg) no-repeat center center;
}
.arrow:hover {
  background: rgba(210, 210, 210, 0.527);
}
.arrow-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0%;
}
.arrow-left::after {
  content: "";
}
.arrow-right {
  right: 0%;
  transform: rotate(180deg);
}
.arrow-right::after {
  content: "";
}

.slide-box {
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
}

@media screen and (min-width: 279.99px) and (max-width: 767.99px) {
  .change-bg-1 {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%), url(../images/main/slider/mobile/brutal-mob-min.jpg) no-repeat center center !important;
    background-size: cover !important;
  }
  .change-bg-2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%), url(../images/main/slider/mobile/fabrica-mob-min.jpg) no-repeat center center !important;
    background-size: cover !important;
  }
  .change-bg-3 {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%), url(../images/main/slider/mobile/bigShalet-mob-min.jpg) no-repeat center center !important;
    background-size: cover !important;
  }
  .change-bg-4 {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%), url(../images/main/slider/mobile/kitchen-mob-min.jpg) no-repeat center center !important;
    background-size: cover !important;
  }
  .change-bg-5 {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5522584034) 0%), url(../images/main/slider/mobile/elegant-mob-min.jpg) no-repeat center center !important;
    background-size: cover !important;
  }
}
@media screen and (min-width: 210px) and (max-width: 1023.99px) {
  .btn--white {
    margin-bottom: 10%;
  }
}
.contacts {
  padding: 400px;
  background: rgba(238, 204, 238, 0.8);
}
.contacts a {
  width: 300px;
  height: 50px;
  background: #212121;
  color: #fff;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s all ease-in;
}
.contacts a:hover {
  color: #212121;
  background: #fff;
  border-color: #212121;
}
.contacts a:focus {
  background: greenyellow;
}

.about {
  padding-top: 6.25rem; /* 100px */
  padding-bottom: 100px;
}
@media screen and (min-width: 290.98px) and (max-width: 975.98px) {
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.about__container {
  width: 100%;
  padding: 0px 45px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 290.98px) and (max-width: 975.98px) {
  .about__container {
    display: block;
    padding: 0px;
  }
}
.about__info {
  width: 46%;
}
@media screen and (min-width: 290.98px) and (max-width: 975.98px) {
  .about__info {
    width: 100%;
    padding: 0px 10px;
  }
}
@media screen and (min-width: 290.98px) and (max-width: 605.99px) {
  .about__info {
    text-align: center;
    margin-bottom: 50px;
  }
}
.about__video {
  width: 49%;
  height: 422px;
}
@media (min-width: 1900.98px) {
  .about__video {
    height: 550px;
  }
}
@media screen and (min-width: 768.98px) and (max-width: 1110.99px) {
  .about__video {
    width: 53%;
  }
}
@media screen and (min-width: 290.98px) and (max-width: 975.98px) {
  .about__video {
    width: 100%;
    padding: 0px 0px;
  }
}
@media screen and (min-width: 424.98px) and (max-width: 650.99px) {
  .about__video {
    width: 100%;
    height: 350px;
  }
}
@media screen and (min-width: 290.98px) and (max-width: 424.98px) {
  .about__video {
    height: 250px;
  }
}

@media screen and (min-width: 500px) and (max-width: 975.98px) {
  .info {
    margin-bottom: 60px;
  }
}
.info__block {
  margin-bottom: 7.3125rem;
}
@media screen and (min-width: 768.98px) and (max-width: 1110.99px) {
  .info__block {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 500px) and (max-width: 975.98px) {
  .info__block {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 290.98px) and (max-width: 605.99px) {
  .info__block {
    text-align: center;
    margin-bottom: 40px;
  }
}
.info__title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 121.428571%; /* 34/28 */
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
  padding-top: 58px;
}
@media screen and (min-width: 768.98px) and (max-width: 1110.99px) {
  .info__title {
    padding-top: 20px;
  }
}
@media screen and (min-width: 500px) and (max-width: 975.98px) {
  .info__title {
    padding-top: 0px;
  }
}
@media screen and (min-width: 290.98px) and (max-width: 605.99px) {
  .info__title {
    font-size: 20px;
    line-height: 120%; /* 24/20 */
    padding-top: 0px;
  }
}
.info__text {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 123.529412%; /* 21/17 */
  display: flex;
  align-items: center;
  color: #D2D2D2;
}
@media screen and (min-width: 290.98px) and (max-width: 605.99px) {
  .info__text {
    font-size: 14px;
    line-height: 121.428571%; /* 17/14 */
  }
}
.info__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 15px;
}
@media screen and (min-width: 1110.98px) and (max-width: 1280.99px) {
  .info__row {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (min-width: 768.98px) and (max-width: 1110.99px) {
  .info__row {
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 500px) and (max-width: 975.98px) {
  .info__row {
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 290.98px) and (max-width: 605.99px) {
  .info__row {
    grid-template-columns: repeat(2, 1fr);
  }
}

.counter__value {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 122.5%; /* 49/40 */
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}
@media screen and (min-width: 290.98px) and (max-width: 605.99px) {
  .counter__value {
    font-size: 30px;
    line-height: 123.333333%; /* 37/30 */
  }
}
.counter__title {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 123.529412%; /* 21/17 */
  color: #FFFFFF;
}
@media screen and (min-width: 290.98px) and (max-width: 605.99px) {
  .counter__title {
    font-size: 14px;
    line-height: 121.428571%; /* 17/14 */
  }
}

.video__block {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  transition: all 0.5s ease;
}
.video__block:hover {
  filter: grayscale(0);
}
@media screen and (min-width: 290.98px) and (max-width: 1199.99px) {
  .video__block {
    filter: grayscale(0);
  }
}

iframe {
  width: 100%;
  height: 100%;
}

.ticker__marquee {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 290.98px) and (max-width: 767.98px) {
  .ticker__marquee {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .ticker__marquee {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.ticker__marquee span {
  display: inline-block;
  padding-left: 5%;
  -webkit-animation: marquee 5s linear infinite;
          animation: marquee 5s linear infinite;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #494949;
}
@media screen and (min-width: 290.98px) and (max-width: 767.98px) {
  .ticker__marquee span {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .ticker__marquee span {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }
}

@-webkit-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-101%, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-101%, 0);
  }
}
.projects {
  padding-top: 60px;
  padding-bottom: 100px;
}
@media screen and (min-width: 290.98px) and (max-width: 767.98px) {
  .projects {
    padding-top: 30px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .projects {
    padding-top: 40px;
  }
}
.projects__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
}
.projects__data {
  flex: 0 1 48%;
  width: 49%;
  display: flex;
  text-decoration: none;
  transition: all 0.9s ease;
}
.projects__data:hover .project__img img {
  filter: blur(5px);
  transform: scale(1.1);
}
.projects__data:hover .project__img--grey img {
  filter: grayscale(0.6) blur(10px);
}
.projects__data:hover .project__info {
  -webkit-animation: infoanim forwards 0.8s;
          animation: infoanim forwards 0.8s;
}
@media screen and (min-width: 290.98px) and (max-width: 1199.99px) {
  .projects__data:hover .project__info {
    -webkit-animation: none;
            animation: none;
  }
}
@media screen and (min-width: 290.98px) and (max-width: 767.98px) {
  .projects__data {
    flex: 0 1 100%;
  }
}

.project {
  max-height: 550px;
  display: flex;
  position: relative;
}
.project__img {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.project__img--mob {
  display: none;
}
@media screen and (min-width: 290.98px) and (max-width: 767.99px) {
  .project__img--mob {
    display: block;
  }
  .project__img--lap {
    display: none;
  }
  .project__img--crop {
    max-height: 150px;
  }
}
.project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1.2s ease;
}
.project__info {
  position: absolute;
  padding: 50px 45px;
  left: 0%;
  bottom: -20%;
  transform: scale(0, 0);
  transition: all 0.5s ease;
  overflow: hidden;
}
.project__info--full {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
}
@media screen and (min-width: 290.98px) and (max-width: 767.98px) {
  .project__info--full {
    justify-content: flex-start;
    padding: 15px 10px;
    max-height: 150px;
  }
}
@media screen and (min-width: 290.98px) and (max-width: 1199.99px) {
  .project__info {
    bottom: 0;
    transform: scale(1);
    width: 100%;
    padding: 15px 10px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.99px) {
  .project__info {
    padding: 18px 10px;
  }
  .project__info--half {
    width: 48%;
  }
}
.project__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%; /* 24/20 */
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
@media screen and (min-width: 767.99px) and (max-width: 1199.99px) {
  .project__title {
    font-size: 18px;
    line-height: 122.222222%; /* 22/18 */
  }
}
@media screen and (min-width: 290.98px) and (max-width: 767.98px) {
  .project__title {
    font-size: 16px;
    line-height: 125%; /* 20/16 */
  }
}
.project__details {
  font-weight: 500;
  font-size: 17px;
  line-height: 123.529412%; /* 21/17 */
  color: #FFFFFF;
  margin-bottom: 48px;
}
@media screen and (min-width: 767.99px) and (max-width: 1199.99px) {
  .project__details {
    font-size: 15px;
    line-height: 120%; /* 18/15 */
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 290.98px) and (max-width: 767.98px) {
  .project__details {
    font-size: 14px;
    line-height: 121.428571%; /* 17/14 */
  }
}
.project__button {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%; /* 18/15 */
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.5s;
}
.project__button::after {
  content: "";
  display: block;
  width: 65px;
  height: 18px;
  background: url(../images/projects/arrow.png) no-repeat center center;
}
.project__button:hover {
  transform: scale(1.01);
}
.project__button--large {
  font-weight: 700;
  font-size: 30px;
  line-height: 123.333333%; /* 37/30 */
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__button--large::after {
  content: "";
  background: url(../images/projects/arrow.png) no-repeat center right;
}
@media screen and (min-width: 290.98px) and (max-width: 767.98px) {
  .project__button--large {
    width: 100%;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.99px) {
  .project__button {
    font-size: 15px;
    line-height: 120%; /* 18/15 */
  }
  .project__button::after {
    content: "";
    width: 35px;
    background: url(../images/projects/arrow.png) no-repeat center right;
  }
  .project__button--large {
    font-size: 18px;
    line-height: 122.222222%; /* 22/18 */
    width: 60%;
  }
}
@media screen and (min-width: 290.98px) and (max-width: 767.98px) {
  .project__button {
    font-size: 12px;
    line-height: 125%; /* 15/12 */
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .project__button::after {
    content: "";
    width: 35px;
    background: url(../images/projects/arrow.png) no-repeat center right;
  }
}
.project--big {
  flex: 0 1 100%;
}

@-webkit-keyframes infoanim {
  0% {
    opacity: 0%;
    bottom: -20%;
  }
  50% {
    bottom: -10%;
    opacity: 0%;
  }
  100% {
    bottom: 0%;
    transform: scale(1, 1);
  }
}

@keyframes infoanim {
  0% {
    opacity: 0%;
    bottom: -20%;
  }
  50% {
    bottom: -10%;
    opacity: 0%;
  }
  100% {
    bottom: 0%;
    transform: scale(1, 1);
  }
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 45px 10px 45px;
}
@media screen and (min-width: 290.99px) and (max-width: 767.98px) {
  .footer__container {
    flex-direction: column;
    padding: 10px 10px 10px 10px;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media screen and (min-width: 767.98px) and (max-width: 1199.99px) {
  .footer__contacts {
    row-gap: 18px;
  }
}
.footer__socials {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media screen and (min-width: 767.98px) and (max-width: 1199.99px) {
  .footer__socials {
    row-gap: 40px;
  }
}

.contact-footer {
  margin-bottom: 45px;
}
.contact-footer__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.222222%; /* 22/18 */
  color: #D2D2D2;
  transition: all 1s ease;
}
.contact-footer__item:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 767.98px) and (max-width: 1199.99px) {
  .contact-footer__item {
    font-size: 15px;
    line-height: 120%; /* 18/15 */
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media screen and (min-width: 290.99px) and (max-width: 767.98px) {
  .contact-footer__item {
    font-size: 14px;
    line-height: 121.428571%; /* 17/14 */
  }
}
.contact-footer__icon {
  max-width: 100%;
  height: 100%;
}
@media screen and (min-width: 290.99px) and (max-width: 767.98px) {
  .contact-footer__icon {
    max-width: 20px;
    max-height: 20px;
  }
}

.social-footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 123.529412%; /* 21/17 */
  color: #212121;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 16px 32px;
  transition: all 0.5s ease;
}
.social-footer__button:hover {
  box-shadow: rgba(209, 209, 209, 0.59) 1px 1px 25px;
}
.social-footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
}
.social-footer__link {
  transition: all 1s ease;
}
.social-footer__link:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 767.98px) and (max-width: 1199.99px) {
  .social-footer__img {
    max-width: 20px;
    max-height: 20px;
  }
}/*# sourceMappingURL=styles.css.map */