body {
    font-family: 'Montserrat', sans-serif;
}

body._lock {
    overflow: hidden;
}

.wrapper {
    width: 100%;
}

.header {
    width: 100%;
    position: fixed;
    background: rgb(41,41,41);
    z-index: 100;
    

    &__container {
        width: 100%;
        padding: 0px 10px;
    }
}

.navigation {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;    

    &__main {
        margin-left: 15%; 
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        min-width: 35%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        margin-right: 20px;
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        line-height: 1.55;
        font-weight: 300;
        letter-spacing: 0.5px;
        transition: 1s all ease;
        position: relative;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::after {
                content: '';
                position: absolute;
                display: block;
                width: 1%;
                height: 1px;
                background: #ffae00;
                right: 100%;
                top: 120%;
                opacity: 0%;
                transition: 1s;
            }

            &:hover {
                color: #b3b3b3;

                &::after {
                    width: 100%;
                    opacity: 100%;
                    right: 0%;
                }
            }
    }

    &__contancts {
        display: none;
    }

    &__phone {
        margin-right: 10%;
        min-width: 22%;
        display: flex;
        align-items: center;
        // justify-content: space-between;

        &-block {
            width: 50%;
            padding: 15px 15px 0px 15px;
            position: relative;            
            transition: 1s;

            &:hover .navigation__phone-accordion {
                opacity: 100%;
                top: 100%;
            }
        }

        &-accordion {
            background: rgb(41,41,41);
            padding: 0px 15px 0px 15px;
            position: absolute;
            opacity: 0%;
            transition: 1s;
            top: -50%;
            margin-bottom: 15px;
            border-bottom: 3px solid #ffae00;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            left: 0;
        }

        &-link {
            padding-bottom: 15px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
            line-height: 1.55;
            font-weight: 300;
            letter-spacing: 1.5px;
            transition: 1s all ease;
            position: relative;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            &:hover {
                color: #b3b3b3;
            }

            &:first-child {
                margin-right: 10%;
            }
        }

        &-img {
            margin-right: 7px;
            max-width: 20px;
            max-height: 20px;
        }

        
    }

    &__social {
        &-link {
            // margin-right: 7px;
            max-width: 20px;
            max-height: 20px;
            transition: 1s ease;
            opacity: 80%;
            user-select: none;

            &:hover {
                opacity: 100%;
                transform: scale(1.2);
            }
        }

        &-link:nth-child(1) {
            margin-right: 25px;
        }

        &-link:nth-child(2) {
            margin-right: 25px;
        }

        &-link:nth-child(3) {
            margin-right: 15px;
        }

    }
}

.logo {
    &__block {
        &--adaptive {
            display: none;
        }
    }
    &__link {
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    &__navigation {
        max-width: 125px;
    }
}

.nav-mobile {
    display: none;
}

// Desktop sm screen fix
@media screen and (min-width: 768px) and (max-width: 1064px) {
    
    .navigation__list {
        min-width: 61%;
    }
}

// mobile 
@media screen and (min-width: 210px) and (max-width: 1023.99px) {
    .header {
        background: none;
        position: relative;
    }

    .spacer--mob {
        width: 48px;
        height: 48px;
        background: #ffae00;
    }

    .navigation {
        // display: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;
        min-height: 70px;
        position: absolute;
        top: 0;
        left: 0%;
        padding: 0px 10px;
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,0,0,0.5522584033613445) 0%);
        position: fixed;

        &__main {
            position: fixed;
            top: 0px;
            right: -100%;
            margin-left: 0;
            flex-direction: column;
            align-items: flex-start;
            max-width: 280px;
            padding: 60px 25px 25px;
            height: 100vh;
            background: rgb(41,41,41);
            z-index: 4;
            transition: 1s right ease;
            overflow: auto;
            
            &--active {
                right: 0%;
            }
        }

        &__list {
            flex-direction: column;
            align-items: flex-start;
        }

        &__link {
            margin-right: 0;
            color: #ffffff;
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 15px;
            
        }

        &__contancts {
            display: block;

            &-phone {
                width: 100%;
                margin-bottom: 20%;
            }

            &-socials {
                max-width: 80%;
                display: flex;
                justify-content: space-between;

                &-link {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                }

                &-img {
                    max-width: 20px;
                    max-height: 20px;
                }
            }
        }

        &__phone {
            display: none;

            &-block {
                width: 70%;
                padding: 0;
                margin-right: 1%;
            }

            &-link {
                padding-bottom: 0px;
                font-weight: 700;

                &:first-child {
                    margin-right: 0;
                }
                
            }

            &-img {
                max-width: 14px;
                max-height: 14px;
            }

            &-num {
                font-size: 16px;
            }
        }
    }

    .logo {
        &__block {
            margin-right: 2%;
            margin-left: 1%;

            &--adaptive {
                margin-bottom: 25%;
                display: block;
            }
        }
        &__navigation {
            max-width: 100px;
            
            &--adaptive {
                width: 150px;
                max-width: 150px;
            }
        }
    }


    .menu-icon {
        z-index: 5;
        position: relative;
        min-width: 40px;
        height: 40px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::before, &::after {
            content: '';
        }

        &::before, &::after, &__burger {            
            left: 0;
            width: 100%;
            height: 3%;
            position: absolute;
            transition: .5s all ease;
            background: #fff;
        }

        &::before {
            top: 20%;
        }

        &::after {
            bottom: 20%;
        }

        &__burger {  
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }

        &--active {
            & span {
                transform: scale(0) translate(0px, -50%);
            }

            &::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
                background: #ffae00;
            }

            &::after {
                top: 50%;
                transform: rotate(45deg) translate(0px, 50%);
                background: #ffae00;
            }
        }
    }
}
