body {
    font-family: 'Montserrat', sans-serif;
    background: #212121;  
}

.preloader {
    transform-style: preserve-3d;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 1000;
    background: #212121;
    overflow: hidden;
    cursor: default!important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: swipePage 1s linear forwards;
    animation-delay: 1.7s;
    

    &__logo {
        margin-bottom: 20px;
        max-width: 220px;
        animation: bluring 1.2s linear forwards;
    }

    &__img {
        object-fit: cover;
    }

    &__load {
        min-width: 300px;
        height: 2px;
        background: rgb(140,140,141);
        // opacity: .5;
        position: relative;
        

        &::before {
            content: '';
            display: block;
            position: absolute;
            background: #fff;
            top: 0;
            left: 0;
            height: 2px;
            opacity: 1;
            animation-delay: .5s;
            animation: loading 1.5s linear forwards;
        }
    }
}

@keyframes bluring {
    from {
        transform: scale(0.7);
        opacity: 0;
        filter: blur(1rem);
    }    
    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes loading {
    from {
        width: 0%;
    } 
    to {
        width: 100%;
    }
}

@keyframes swipePage {
    from {
        left: 0%;
    }
    to {
        left: -110%;
    }
}

#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 3px solid #cecece;
    position: fixed;
    border-radius: 4px;
    z-index: 101;
    pointer-events: none;
    transition: border-color 0.5s;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border: 1px solid #cecece;
    position: fixed;
    border-radius: 100px;
    z-index: 102;
    pointer-events: none;
}

html {
    cursor: none !important;
}

a {
    cursor: none !important;
}

.wrapper {
    width: 100%;
    position: relative;
    transition: 1s all ease-in;

    &__active {
        position: fixed;
        &::before {
            content: '';
            display: block;
            position: fixed;
            top: 0%;
            left: 0%;
            z-index: 20;
            min-width: 100%;
            min-height: 100vh;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(15px);
        }
    }
}

.social-pl {
    position: fixed;
    bottom: 5%;
    right: 2.3%;
    width: 60px;
    z-index: 21;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 22px;

    @media screen and (min-width: 290.98px) and (max-width: 499.99px){
        bottom: 4%;
        gap: 0px;
    } 
}

.social-pl__btn {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 25px;
        height: 27px;
        transition: 0.5s all ease;
        background: url(../images/socials-plagin/і.svg) no-repeat center center;
    }

    &--active {
        &::before {
            content: '';
            background: url(../images/socials-plagin/cross.svg) no-repeat center center;
        }
        
    }

    &:hover {
        
        box-shadow: 1px 1px 25px 5px rgba(209,209,209,0.59);
    }   
    
    @media screen and (min-width: 290.98px) and (max-width: 499.99px){
        transform: scale(0.8);
    }
}

.social-pl__list {
    width: 60px;
    border-radius: 50px;
    background: #fff;
    z-index: -1;
    display: flex;
    justify-content: center;
    padding: 22px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s all ease;
    transform: scale(0);

    &--active {
        bottom: 100%;
        transform: scale(1);

        @media screen and (min-width: 290.98px) and (max-width: 499.99px){
            transform: scale(0.8);
        }        
    }
    
}

.social-pl__elem {
    margin-bottom: 22px;

    &:last-child {
        margin-bottom: 0px; 
    }
}

.social-pl__link {
    display: block;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer!important;
    transition: 0.2s all ease-in;
    user-select: none;

    &:hover {
        transform: scale(1.1);
    }
}


.header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background: none;
    transition: .3s all linear;

    &__message-block {
        position: fixed;
        top: 80%;
        right: 10%;
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 70px;
        background: #212121;
        top: -80px;
        left: 0%;
        transition: .3s all linear;
    }

    &__scroll {
        width: 100%;
        transition: .3s all linear;
        
        &::before {
            content: '';
            top: 0%;
        }
    }
    

    &__container {
        width: 100%;
        padding: 0px 20px;
    }

    &__active {
        &::before {
            content: '1';
        }
    }
}

.logo {
    &__block {
        transition: 1s ease;

        &:hover {
            transform: scale(1.02);
        }

        &--adaptive {
            margin-bottom: 25%;
            display: block;
        }
    }
    &__navigation {
        width: 115px;
        height: 36px;
        
        &--adaptive {
            width: 150px;
            max-width: 150px;
        }
    }
    &__link {
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    &__navigation {
        max-width: 125px;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    min-height: 70px;
    top: 0;
    left: 0%;
    padding: 0px 45px;
    position: fixed;

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -100%;
        margin-left: 0;
        flex-direction: column;    
        width: 100%;    
        max-width: 500px;
        padding: 100px 40px 25px;
        height: 100vh;
        background: #212121;
        z-index: 4;
        transition: 1s right ease;
        overflow: auto;

        @media screen and (min-width: 767.98px) and (max-width: 1023.99px) {
            max-width: 330px;
        }
        @media screen and (min-width: 210px) and (max-width: 767.97px) {
            max-width: 290px;
        }
        
        &--active {
            right: 0%;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
    }

    &__sub-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 75px;
    }

    &__consulatation-btn {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 10px 20px;
        text-decoration: none;
        transition: 0.5s ease-in;
        margin-right: 40px;
        user-select: none;

        &:hover {
            background: #fff;
            color: #212121;
        }
    }

    &__title-special {
        font-size: 20px;
        color: #fff;
        user-select: none;
        margin-bottom: 15px;
    }

    &__social {
        &-link {
            max-width: 20px;
            max-height: 20px;
            transition: 1s ease;
            opacity: 80%;
            user-select: none;

            &:hover {
                opacity: 100%;
                transform: scale(1.2);
            }
        }

        &-link:nth-child(1) {
            margin-right: 25px;
        }

        &-link:nth-child(2) {
            margin-right: 25px;
        }

        &-link:nth-child(3) {
            margin-right: 15px;
        }

    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
    }

    &__elem {
        margin-bottom: 20px;
    }

    &__link {
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 700;
        letter-spacing: 0.5px;
        transition: 1s all ease;
        position: relative;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        margin-bottom: 15px;         
        
    }

    &__contancts {
        display: block;

        &-phone {
            width: 100%;
            margin-bottom: 20%;
            display: flex;
            flex-direction: column;
        }

        &-socials {
            display: flex;
            justify-content: space-between;

            &-link {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                transition: all ease .7s;
                display: flex;
                align-items: center;

                &:hover {
                    transform: scale(1.2);
                }
            }

            &-img {
                max-width: 36px;
                max-height: 25px;
            }
        }
    }

    &__phone {
        display: none;

        &-block {
            width: 70%;
            padding: 0;
            margin-right: 1%;
        }

        &-link {
            padding-bottom: 0px;
            font-weight: 400;
            color: #fff;
            text-decoration: none;
            user-select: none;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            transition: 1s all ease;

            &:hover {
                transform: scale(1.05);
            }

            &:first-child {
                margin-right: 0;
            }
            
        }

        &-icon {
            margin-right: 30px;
            @media screen and (min-width: 767.98px) and (max-width: 1023.99px) {
                margin-right: 30px;
            }
            @media screen and (min-width: 210px) and (max-width: 767.97px) {
                width: 22px;
                margin-right: 15px;
            }
        }

        &-img {
            max-width: 14px;
            max-height: 14px;
            
        }

        &-num {
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;

            @media screen and (min-width: 767.98px) and (max-width: 1023.99px) {
                font-size: 17px;
                line-height: 21px;
            }
            @media screen and (min-width: 210px) and (max-width: 767.97px) {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

.langs {

    &__btn {
        cursor: pointer;
        display: inline-block;
        position: relative;        
        text-decoration: none;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        color: #fff;
        opacity: 0.65;
        transform: scale(1.0);
        transition: 0.5s ease-in;        

        &--active {
            opacity: 1;
        }

        &:first-child {
            margin-right: 20px;
            
        }

        &:hover {
            opacity: 0.85;
            transform: scale(1.2);
        }
    }
}


.menu-icon {
    z-index: 5;
    position: relative;
    min-width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: 1s ease;

    &:hover {
        transform: scale(1.2);
    }

    &::before, &::after {
        content: '';
    }

    &::before, &::after, &__burger {            
        left: 0;
        width: 100%;
        height: 3%;
        position: absolute;
        transition: .5s all ease;
        background: #fff;
    }

    &::before {
        top: 20%;
    }

    &::after {
        bottom: 20%;
    }

    &__burger {  
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    &--active {
        & span {
            transform: scale(0) translate(0px, -50%);
        }

        &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }

        &::after {
            top: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
    }
}

.menu-icon {
    z-index: 5;
    position: relative;
    min-width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &::before, &::after {
        content: '';
    }

    &::before, &::after, &__burger {            
        left: 0;
        width: 100%;
        height: 3%;
        position: absolute;
        transition: .5s all ease;
        background: #fff;
    }

    &::before {
        top: 20%;
    }

    &::after {
        bottom: 20%;
    }

    &__burger {  
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    &--active {
        & span {
            transform: scale(0) translate(0px, -50%);
        }

        &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }

        &::after {
            top: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
    }
}

// Desktop sm screen fix
@media screen and (min-width: 768px) and (max-width: 1064px) {
    
    .navigation__list {
        min-width: 61%;
    }
}

// mobile 
@media screen and (min-width: 210px) and (max-width: 554.99px) {
    .navigation {
        &__sub-btns {
            display: none;
        }
    }
}

// mobile 
@media screen and (min-width: 210px) and (max-width: 1023.99px) {
    #pointer-dot {
        border: none;
    }
    
    #pointer-ring {
        border: none;
    }

    body._lock {
        overflow: hidden;
    }

    .header {
        &::before {
            content: '';
            background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.5522584033613445) 0%);
        }
    }

    .navigation {
        padding: 0px 20px;        
        position: fixed;

        &__main {
            max-width: 280px;
            padding: 60px 22px 22px;
            background: #212121;
            
            
            &--active {
                right: 0%;
            }
        }

        &__list {
            flex-direction: column;
            align-items: flex-start;
        }

        &__link {
            margin-right: 0;
            color: #ffffff;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 15px;
            
        }

        &__contancts {
            display: block;

            &-phone {
                width: 100%;
                margin-bottom: 20%;
            }

            &-socials {
                max-width: 100%;
                display: flex;
                justify-content: space-between;

                &-img {
                    max-width: 20px;
                    max-height: 20px;
                }
            }
        }

        &__phone {
            display: none;

            &-block {
                width: 70%;
                padding: 0;
                margin-right: 1%;
            }

            &-link {
                padding-bottom: 0px;
                font-weight: 700;

                &:first-child {
                    margin-right: 0;
                }
                
            }

            &-img {
                max-width: 14px;
                max-height: 14px;
            }
        }
    }

    .logo {
        &__block {
            margin-right: 2%;
            margin-left: 1%;

            &--adaptive {
                margin-bottom: 25%;
                display: block;
            }
        }
        &__navigation {
            width: 70px;
            height: 23px;
            
            &--adaptive {
                width: 150px;
                max-width: 150px;
            }
        }
    }
}

@media screen and (min-width: 210px) and (max-width: 280.99px) {
    .preloader {
        &__logo {
            min-width: 200px;
            max-width: 200px;
        }

        &__load {
            min-width: 180px;
            max-width: 180px;
        }
    }
}

