.main {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;    
    position: relative;
    z-index: 5;
    
    &__container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
    }

    &__block {
        margin-top: 15%;
        width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        color: #fff;
    }

    &__title {
        color: #ffffff;
        line-height: 1.55;

        &--small {
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 0.7px;
        }

        &--big {
            font-size: 76px;
            font-weight: 500;
            letter-spacing: 1.5px;
        }

        &--medium {
            font-size: 23px;
            font-weight: 300;
            letter-spacing: 1.5px;
        }
    }

    &__buttons {
        margin-top: 4.5%;
        display: flex;
    }
}

.btn {
    position: relative;
    display: flex;
    align-items: center;  
    justify-content: center;
    max-width: 260px;
    min-width: 260px;
    max-height: 50px;
    min-height: 50px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 600;
    text-decoration: none;
    user-select: none;    
    transition-delay: 200ms;
    transition: all .5s ease-in;

    & span {
        z-index: 10;
    }

    &--white {
        color: #19191B;
        background: #fff;
        margin-right: 4.5%;

        &::before {
            content: '';
            position: absolute;
            max-width: 260px;
            width: 0;
            height: 100%;
            background: #19191B;
            top: 0%;
            left: 0%;
            display: block;
            z-index: 9;
            transition: all .2s ease-in;
        }


        &:hover {
            color: #ffffff;

            &::before {
                width: 100%;
            }
        }
    }

    &--transperent {
        color: #cecece;

        &::before {
            content: '';
            position: absolute;
            max-width: 260px;
            width: 0;
            height: 100%;
            background: #cecece;
            top: 0%;
            left: 0%;
            display: block;
            z-index: 9;
            transition: all .2s ease-in;
        }


        &:hover {
            color: #19191B;
            border-color: #cecece;

            &::before {
                width: 100%;
            }
        }
    }

    &-nav {
        margin-top: 30px;
        max-width: 210px;
        min-width: 210px;
        max-height: 40px;
        margin-right: 0%;

        & span {
            font-size: 15px;
        }
    }
}

// slider styles

.swiper {
    max-height: 100vh;

    &-pagination {
        bottom: 0;

        &-bullet {
            margin: 15px!important;
            width: 30px;
            height: 2px;
            background-color: rgb(255, 255, 255);
            transition: 1s all ease;
            border-radius: 0%;

            &-active {
                width: 45px;
                height: 2px;
                transform: rotate(-45deg);
            }
        }
    }

}

.slide-box {
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
}

// mobile 
@media screen and (min-width: 210px) and (max-width: 1023.99px) {
    
    .main {

        &__container {
            padding: 0 10px;
        }

        &__block {
            margin-top: 50%;
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__title {
            &--small {
                margin-bottom: 6%;
                font-size: 13px;
            }
            &--big {
                margin-bottom: 6%;
                font-size: 32px;
            }
            &--medium {
                margin-bottom: 11%;
                font-size: 16px;
            }
        }

        &__buttons {
            flex-direction: column;
        }
    }

    .btn {
        &--white {
            margin-bottom: 10%;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1023.99px) {
    .main {
        &__block {
            margin-top: 40%;
        }

        &__title {
            &--small {
                margin-bottom: 6%;
                font-size: 22px;
            }
            &--big {
                margin-bottom: 6%;
                font-size: 50px;
            }
            &--medium {
                margin-bottom: 11%;
                font-size: 28px;
            }
        }
    }    
}

@media screen and (max-height: 720px){
    .main__block {
        margin-top: 35%;
    }
}

@media screen and (max-height: 650px){
    .main__block {
        margin-top: 10%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1125.99px){
    .navigation__main {
        margin-left: 10%;
    }
}

