.main {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;    
    position: relative;
    z-index: 5;
    
    &__container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;        
    }

    &__block {
        width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        color: #fff;
    }

    &__info {
        transform: scale(1);
        transition: 1s ease;

        &-link {
            text-decoration: none;
        }

        &:hover {
            transform: scale(1.02);
            text-shadow: 2px 1px 12px rgba(0,0,0,0.7);
        }
    }

    &__title {
        color: #ffffff;
        line-height: 1.55;
        user-select: none;

        &--small {
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 0.7px;
        }

        &--big {
            font-size: 55px;
            font-weight: 700;
            letter-spacing: 0.5px;
            line-height: 115%;
        }

        &--medium {
            font-size: 23px;
            font-weight: 300;
            letter-spacing: 1.5px;
        }
    }

    &__counter {
        width: 100%;
        margin-top: 4.5%;
        position: relative;
        display: flex;
        align-items: center;
        color: #fff;
        user-select: none;

        &-line {
            height: 1px;
            background: #fff;

            &--sm {
                width: 30px;
            }

            &--lg {
                width: 400px;
                margin-right: 1.5%;
            }
        }

        &-title {
            width: 160px;
            text-align: center;
        }

        &-text {
            width: 100%;
            text-transform: uppercase;
            font-weight: 400;
            color: #fff;
            font-size: 14px;    
        }

        &-num span {
            font-size: 14px;
        }
    }

    &__buttons {        
        position: absolute;
        top: 85%;
        left: calc(50% - 130px);
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    &__butnav {
        margin-top: 4.5%;
        display: flex;
        justify-content: center;
    }
}

.btn {
    position: relative;
    display: flex;
    align-items: center;  
    justify-content: center;
    max-width: 260px;
    min-width: 260px;
    max-height: 50px;
    min-height: 40px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 600;
    text-decoration: none;
    user-select: none;    
    transition-delay: 200ms;
    transition: all .5s ease-in;

    & span {
        z-index: 10;
    }

    &--white {
        color: #212121;
        background: #fff;
        margin-right: 4.5%;

        &::before {
            content: '';
            position: absolute;
            max-width: 260px;
            width: 0;
            height: 100%;
            background: #212121;
            top: 0%;
            left: 0%;
            display: block;
            z-index: 9;
            transition: all .2s ease-in;
        }


        &:hover {
            color: #ffffff;
            transform: scale(1.02);

            &::before {
                width: 100%;
            }
        }
    }

    &-nav {
        margin-top: 30px;
        max-width: 210px;
        min-width: 210px;
        max-height: 40px;
        margin-right: 0%;

        & span {
            font-size: 15px;
        }
    }
}

// slider styles

.swiper {
    position: relative;
    max-height: 100vh;

    &-pagination {
        bottom: 0;

        &-bullet {
            margin: 15px!important;
            width: 30px;
            height: 2px;
            background-color: rgb(255, 255, 255);
            transition: 1s all ease;
            border-radius: 0%;

            &-active {
                width: 45px;
                height: 2px;
                transform: rotate(-45deg);
            }
        }
    }

}

.arrow {
    position: absolute;
    top: 90%;    
    color: rgba(255, 255, 255, 0.5);
    transition: 0.8s all ease;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
        transform: scale(1.4);
        color: #fff;
    }    

    &-left {
        left: 2%;

        &::after {
            content: 'prev';
            display: block;
            font-size: 18px;
        }        
    }

    &-right {
        left: 5%;

        &::after {
            content: 'next';
            display: block;
            font-size: 18px;
            
        }
    }

    
}

.slide-box {
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
}

// mobile 
@media screen and (min-width: 279.99px) and (max-width: 400px) {
    .main {
        &__counter {
            &-line--sm {
                width: 11.5%;
            }
            &-title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-text {
                font-size: 11px;
            }
        }
    }   
    

}
@media screen and (min-width: 400px) and (max-width: 424.99px) {
    .main {
        &__counter {
            &-title {
                width: 100%;
            }
            &-line--sm {
                width: 11.5%;
            }
        }
    }    
}
@media screen and (min-width: 279.99px) and (max-width: 767.99px) {
    .main {
        &__counter {
            &-num {
                margin-left: 3%;
            }
            &-line--sm {
                width: 11.5%;
            }
        }
    }    

    .change-bg-1 {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.5522584033613445) 0%), url(../images/main/slider/mobile/brutal-mob-min.jpg)no-repeat center center!important;
        background-size: cover!important;
    }
    
    .change-bg-2 {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.5522584033613445) 0%), url(../images/main/slider/mobile/fabrica-mob-min.jpg) no-repeat center center!important;
        background-size: cover!important;
    }
    
    .change-bg-3 {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.5522584033613445) 0%), url(../images/main/slider/mobile/bigShalet-mob-min.jpg) no-repeat center center!important;
        background-size: cover!important;
    }
    
    .change-bg-4 {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.5522584033613445) 0%), url(../images/main/slider/mobile/kitchen-mob-min.jpg) no-repeat center center!important;
        background-size: cover!important;
    }

    .change-bg-5 {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.5522584033613445) 0%), url(../images/main/slider/mobile/elegant-mob-min.jpg) no-repeat center center!important;
        background-size: cover!important;
    }
}
@media screen and (min-width: 425px) and (max-width: 767.99px) {
    .main {
        &__counter {
            &-title {
                width: 100%;
            }
        }
    }    
}
@media screen and (min-width: 279.99px) and (max-width: 330px) {
    .main {
        &__counter {
            &-title {
                width: 140%;
            }
        }
    }    
}

@media screen and (min-width: 768px) and (max-width: 1023.99px) {
    .main {
        &__counter {
            &-title {
                width: 30%;
            }
        }
    }    
}

@media screen and (min-width: 210px) and (max-width: 1023.99px) {
    
    .main {

        &__container {
            padding: 0 10px;
        }

        &__info {
            min-width: 50%;
            max-width: 89%;
            display: flex;
            flex-direction: column;
        }

        &__title {
            &--small {
                margin-bottom: 6%;
                font-size: 13px;
            }
            &--big {
                margin-bottom: 6%;
                font-size: 32px;
            }
            &--medium {
                margin-bottom: 11%;
                font-size: 16px;
            }
        }

        &__buttons {
            flex-direction: column;
        }
    }

    .arrow {
        display: none;
    }

    .btn {
        &--white {
            margin-bottom: 10%;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1023.99px) {
    .main {

        &__title {
            &--small {
                margin-bottom: 6%;
                font-size: 22px;
            }
            &--big {
                margin-bottom: 6%;
                font-size: 50px;
            }
            &--medium {
                margin-bottom: 11%;
                font-size: 28px;
            }
        }
    }    
}

